---
import Layout from "../layouts/Layout.astro"

import CustomInput from "../components/inputForm.astro"
---

<Layout  visible1={true} title="Girls Site">
	<main>
	
	
	</main>
</Layout>

<style >

main {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;

}
</style>