---
const { titulo, link } = Astro.props;
import { Image } from "astro:assets";
import { app } from "../firebase/server";
import { getAuth } from "firebase-admin/auth";
import { Astronav, MenuItems, MenuIcon } from "astro-navbar";
import CustomInput from "../components/inputForm.astro";
import CustomBtn from "./vueComponents/customButton.vue";

import { Icon } from "astro-icon/components";


let session = Astro.cookies.has("session");

let user = "Iniciar Sesion";

/* Verificar si el usuario está autenticado */
const auth = getAuth(app);
if (Astro.cookies.has("session")) {
  const sessionCookie = Astro.cookies.get("session")?.value || "";
  const decodedCookie = await auth.verifySessionCookie(sessionCookie);

  user = decodedCookie.name;
}
---

<div>
  <Astronav>
    <div
      id="navBar"
      class="grid flex-row align-items-center justify-content-between"
    >
      <div class="col-12 md:col-1">
        <a class="__logoWrapper" href="{{ link }}">
          <img
            class="logo"
            src="https://raw.githubusercontent.com/github/explore/5cc0a03a302ec862c4aeac2a22a513ae31c35432/topics/astro/astro.png"
            alt="Logo Astro"
          />
        </a>
      </div>
      <div class="col-12 md:col-2 menuIcon">
        <MenuIcon class="w-15 h-12 text-gray-900 bg-stone-400" />
        <label class="aparece" for="astronav-menu">Menú</label>
      </div>
      <div class="col-12 md:col-3 aparece">
        <CustomInput
          icon="mdi:search"
          name="buscador"
          type="text"
          _class="col-4 "
        />
      </div>
      <div class="col-12 md:col-1">
        {session? <a href="/adminView">{`Hola, ${user}`}</a> : <p>Iniciar Sesion</p> } 
      </div>
      <div class="col-12 md:col-1">
        <p>Mis compras</p>
      </div>
      <div class="col-12 md:col-1">
        <a href="#"><Icon size={40} class="iconHeader" name="mdi:bell" /> </a>
      </div>
      <div class="col md:col-1">
        <a href="#"><Icon size={40} class="iconHeader" name="mdi:cart" /> </a>
      </div>
    </div>
    <MenuItems class="hidden">
      <div class="menuItemlist">
        <ul>
          {
            session ? (
              <li >
                <div class="p-3">
                  <CustomBtn  client:visible label="logout" ></CustomBtn>
                  </div>
              </li>
            ) : (
              <li>
                <a href="/signin">login</a>
              </li>
            )
          }

          <li><a href="">destacados</a></li>
          <li><a href="">tienda</a></li>
        </ul>
      </div>
    </MenuItems>
  </Astronav>
</div>

<style >
  * {
    border: 0;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }

  .test {
    color: red;
  }

  .menuItemlist {
    height: 100vh;
    width: 20%;
    background-color: #f3eeea;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.1);
    padding: 0 16px;
  }

  .aparece {
    display: block;
  }

  @media (max-width: 425px) {
    .menuItemlist {
      /* Aquí puedes especificar los estilos que quieres aplicar cuando el ancho de la pantalla sea de 425px o menos */
      width: 100%;
      padding: 0;
    }
  }
  @media screen and (min-width: 425px) and (max-width: 769px) {
    .aparece {
      display: none;
    }
  }

  .menuIcon {
    display: flex;
    justify-content: flex-start;
    > label {
      padding-left: 10px;
    }
  }

  .menuItemlist ul li {
    list-style: none;
    padding: 10px;
    border-bottom: black 1px solid;
  }

  .menuItemlist ul li a {
    display: block;
    color: inherit;
    text-decoration: none;
  }
  .menuItemlist ul li a:hover {
    color: #8d3737;
    background-color: #e9e4e0;
  }

  #navBar {
    background-color: #f3eeea;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.1);
    padding: 0 16px;
  }

  a {
    color: inherit;
    font-family: inherit;
    font-size: inherit;
    text-decoration: none;
  }

  .iconHeader {
    color: rgb(141, 55, 55);
  }

  .logo {
    float: left;
    margin-left: 28px;
    font-size: 1.5em;
    height: 40px;
    letter-spacing: 1px;
    text-transform: uppercase;
  }

  .__logoWrapper {
    width: 188px;
    padding-right: 16px;
    padding-left: 12px;
  }
</style>
